*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*to box model*/
   
}

body{
  
    font-family: "Merriweather", sans-serif;
    background-color:white;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.left{
    background-color: black;
    color: white;
    padding: 15px 12px;
}
.nav_center{
    background-color: black;
    color: white;
    padding: 15px 12px;
}
.ss{
    background-color: black;
    color: white;
    padding: 15px 12px;
} 
button{
   background-color: lightseagreen;
   font-size: 18px;
   border-radius: 6px;
   padding: 12px;
   border: 2px;
}
.topnav a {
    float: right;
    display: block;
    color:black;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a.active {
    float: left;
    color: black;
    padding: 40px 40px ;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom:1px solid black;
  }
 /* .container {
    width: 100%;
    margin: 0 auto;
    padding : 0 15px;
    background-color: black;

}*/


.hero__container{
    /*width: 100%;*/
    background-color: black;
    height: 100vh;
    margin-top: 100px; 
    position: relative;

}

/* .hero__image__container{
    width:100%;
} */

.hero__image{
    width: 350px;
    top: 200px;
    height: 350px;
    position: absolute;
}
.hero__description{
    position: relative;
    text-align: center;
    float: right;
    text-align: left;
    margin-right: 300px;
    top: 350px;
    background-color: black;
    color: white;
}
.hero__text{
    background-color: black;
}

.hero__text1{
    background-color: black;
    margin-top: 5px;
    text-align: center;
}

.popular{
    text-align: center;
    margin-top: 95px;
}
.popula{
    text-align: center;
    margin-top: 5px;
}
.popbut{
    border: 1px solid black;
    background-color: black;
}
.but{
    background-color: white;
    border: 1px solid black;
}
.food__menu__card {

    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 10px;

}
.food__image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food__memu__card__description {
    padding: 20px;
    background-color: lightwhite;
}

.explore__menu__container{
     display: flex;
     justify-content: space-evenly;
     margin-top: 40px;
     padding: 25px;
}

.sub__container{
    background-color: grey;
    height: 80vh;
    width: 100%;
    margin-top: 100px; 
    padding: 120px;
    
}
.sub__image__container{
    background-color: grey;
}
.sub__image{
    width: 350px;
    top: 250px;
    height: 350px;
    
}
.sub__description{
   
    text-align: center;
    float: right;
    text-align: left;
    margin-right: 300px;
    top: 350px;
    color: white;
}
.sub__text{
    color: black;
    margin-left: 50px;
}

.sub__text1{
    color: black;
    margin-top: 5px;
    text-align: center;
}
.subbut{
    margin-left: 72px;
}
.know_more{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
.left_text{
    padding: 20px;
}
.ryt_image{
    height: 750px;
    width: 750px;
}
.left_text{
    margin-top: 150px;
}
.know_more2{
    display: flex;
    justify-content: space-around;
    position: relative;
    
}
.ryt_text{
    padding: 20px;
    margin-left: 850px;
    margin-top: 150px;
}
.left_image1{
    height: 350px;
    width: -1000px;
    margin-right: 970px;
    position: absolute;
    
}
.left_image{
    width: 990px;
}

.know_more3{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
.left_text3{
    padding: 20px;
}
.ryt_image3{
    height: 750px;
    width: 750px;
    margin-top: 225px;
}
.left_text3{
    margin-top: 350px;
}

.b_name{
    text-align: center;
    margin-top: 100px;
    margin-top: 10px;
    padding: 30px;
}

 .line{
     background-color: black;
     height: 150px;
     width: 1px;
 }
 .last{
     margin-top: 60px;
 }
 .fd{
     padding: 60px;
     margin-top: 40px;
     font-size: 20px;
 }
 .fd1{
     margin-top: -20px;
 }
.fd2{
    padding: 60px;
    font-size: 20px;
}
.fd3{
    padding: 60px;
    font-size: 20px;
}
.ftt{
    margin-top: 80px;
    color:white;
    padding: 25px;
}
.ft_bc{
    background-color: black;
}
.botoo{
    padding: 20px;
}
.botoo1{
    text-align: center;
    margin-top: -59px;
}
.botoo2{
    text-align: right;
    margin-top: -40px;
    
}
.abnav{
    background-color:lavender;
    margin-top: 85px;
    padding: 2px;
    padding-left: 1300px;
    padding-bottom: 13px;
    
}
.abhead{
    text-align: center;
    margin-top: 10px;
    padding: 200px;
}
.blahead{

     text-align: center;
     margin-top: 125px;
     color: white;
}
     
.nams1{
    
    margin: 220px;
    margin-top: -220px;
    padding: 25px;
    background-color: black;
    width: 1000px;
}
.about_more2{
    display: flex;
    justify-content: space-around;
    position: relative;
    
}
.abryt_text{
    padding: 150px;
    margin-left: 600px;
    margin-top: -230px;
}
.ableft_image1{
    height: 700px;
    width: -2px;
    margin-right: 1170px;
    margin-top: -245px;
    position: absolute;

    
}
.ableft_image{
    width: 800px;
    height: 800px;
    margin-left: 500px;
    padding: 120px;
}
.about_more{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
.ableft_text{
    padding: 20px;
}
.abryt_image{
    height: 600px;
    width: 600px;
    margin-right: 170px;
    margin-top: 100px;
}
.ableft_text{
    margin-top: 150px;
    margin-left: 180px;
}
.about_more3{
    display: flex;
    justify-content: space-around;
    position: relative;
    
}
.abryt_text3{
    padding: 120px;
    margin-left: 620px;
    margin-top: 60px;
}
.ableft_image3{
    height: 350px;
    width: -2px;
    margin-right: 1170px;
    position: absolute;
    
}
.ableft_imagetre{
    width: 800px;
    height: 900px;
    margin-left: 500px;
    margin-top: -80px;
    padding: 120px;

}
.abstory{
    text-align: center;
    margin-top: 60px;
}
.absub{
    padding: 120px;
    margin-top: -100px;
}

.shoppopular{
    text-align: left;
    padding: 25px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: white;
  }
  
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:white;
    color: black;
  }
  
  .container_cont {
    border-radius: 5px;
    background-color:black ;
    color: white;
    padding: 10px;
    margin-top: -5px;
    margin-left: 685px;
    width: 650px;
    height: 700px;
  }
  .contbro{
      margin: 90px;
      border: 2px solid black;
  }
  .conthead{
      text-align: center;
      color: white;
  }
  .cont5{
      margin-top: -700px;
      margin-left: 250px;
  }
  .blg__image{
      width: 800px;
      margin: 80px;
  }
  .blgtxt{
      margin: 90px;
      margin-top: -30px;
  }
  .one{
      padding: 18px;
      font-size: 30px;
      border: 1px solid black;
      color: black
  }
  .cart1{
      margin: 70px;
  }
  .cart2{
      margin: 65px;
  }
  .cb12{
      margin: 90px;
  }


